[buildout]
parts =
    python
develop =
    .
    thirdparty/google_appengine/lib/yaml
    thirdparty/google_appengine/lib/webob

eggs =
    nose

[python]
recipe = zc.recipe.egg
interpreter = python2.5
eggs =
    ${buildout:eggs}
extra-paths =
    ${buildout:directory}/app
    ${buildout:directory}/thirdparty
    ${buildout:directory}/thirdparty/google_appengine
    ${buildout:directory}/thirdparty/google_appengine/google
    ${buildout:directory}/thirdparty/google_appengine/lib/antlr3
    ${buildout:directory}/thirdparty/google_appengine/lib/fancy_urllib
    ${buildout:directory}/thirdparty/google_appengine/lib/simplejson
    ${buildout:directory}/thirdparty/google_appengine/lib/graphy
    ${buildout:directory}/thirdparty/google_appengine/lib/django_1_2/
    ${buildout:directory}/thirdparty/google_appengine/lib
    ${buildout:directory}/thirdparty/coverage

